
$primary-color: #3498db;
$background-color: #ecf0f1;
$border-color: #bdc3c7;

.container-perfil {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f2f2f2;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: #000000;
  .perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 80vh;
    width: 80vw;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    .perfil__img {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30vh;
      width: 30vh;
      border-radius: 50%;
      background-color: #000000;
      margin-top: 5vh;
      img {
        height: 100%;
        width: 100%;
        border-radius: 50%;
      }
    }
    .perfil__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 50vh;
      width: 100%;
      margin-top: 5vh;
      .perfil__info__nome {
        font-size: 2rem;
        font-weight: bold;
      }
      .perfil__info__email {
        font-size: 1.5rem;
        font-weight: bold;
      }
      .perfil__info__senha {
        font-size: 1.5rem;
        font-weight: bold;
      }
      .perfil__info__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 5vh;
        width: 100%;
        margin-top: 5vh;
        button {
          height: 100%;
          width: 100%;
          border: none;
          border-radius: 10px;
          background-color: #000000;
          color: #ffffff;
          font-size: 1.5rem;
          font-weight: bold;
          cursor: pointer;
          &:hover {
            background-color: #ffffff;
            color: #000000;
            border: 1px solid #000000;
          }
        }
      }
    }
  }
}

table {
  width: 80%;
  border-collapse: collapse;
  border-color: #000000;
  th,
  td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid $border-color;
  }

  th {
    background-color: $primary-color;
    color: #fff;
  }

  td {
    background-color: $background-color;

    &:nth-child(odd) {
      background-color: lighten($background-color, 5%);
    }

    &:hover {
      background-color: lighten($background-color, 10%);
    }
  }

  button {
    background-color: $primary-color;
    color: #fff;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: darken($primary-color, 10%);
    }
  }
}

.b1 {
  color: #024A86;
  padding: 25px 50px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
  background-color: darken($primary-color, 10%);
  }
}

.b2 {
  background-color: #bdc3c7;
  font-family: "Roboto";
  color: #024A86;
  padding: 25px 50px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;

  &:hover {
  background-color: darken($primary-color, 10%);
  }
}