footer{
    padding: 20px;
    text-align: center;
    font-size: 12px;
    
    bottom: 0;
    width: 100%;
}

header{
    padding: 20px;
    text-align: center;
    font-size: 12px;
    
    top: 0;
    width: 100%;
}